div.error-box {
	position: absolute;
	left: 50%;
	top: 50%;
	min-width: 300px;
	padding: 20px;
	min-height: 300px;
	border-radius: 6px;
	background-color: rgb(248, 115, 115, 0.7);
	transform: translate(-50%, -50%);
}
