div.item-card {
    display:flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: hidden;
}
img {
    max-height: 300px;
    object-fit: contain;
}

span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 8px;
}

svg {
    position: relative;
    width: 50px;
    left: 100%;
    transform: translate(-120%, 20%);
}